<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">

       <% include ../static/partials/messages.ejs %>

      <h1>Lists</h1>

      <% if(currentUser) { %>
        <a href="/lists/new" class="btn btn-success">New List</a>
      <% } %>

      <ul class="list-group">
<!-- #1 -->
        <% lists.forEach((list) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/lists/<%= list.id %>"> <%= list.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
